$twitterBorder: #e6ecf0;
// $twitterMainColor: #ff6600;
// $twitterComment: #6c757d;
// $popularsBackground: #fafafb;


// .profile-wrapper {
//   // width: 50%;
//     // margin-left: 25%;
//     width: 520px;
//     margin: 0 10px;
//     border-right: 1px solid $twitterBorder;

.profile-wrapper {
    width: 50%;
    margin-left: 25%;
    border-right: 1px solid $twitterBorder;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-button {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 4px;
        }
    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }
  
//     .profileHeader {
//       width: 520px;
//       height: 74px;
//       display: flex;
//       align-items: center;
//       // position: fixed;
//       top: 0;
//       padding: 15px;
//       background: #fff;
//       font-weight: 700;
//       font-size: 18px;

//       .arrow {
//         margin: 0 10px;
//         cursor: pointer;
//       }

//       .backUser {
//         margin-left: 10px;

//         .username {
//             margin: 0;
//         }
//         .userTweetsNum {
//             margin: 0;
//             font-size: 13px;
//             font-weight: 500;
//             color: $twitterComment;
//         }
//       }
//     }
  }

//   @media screen and (min-width: 1200px) {
//   .profile-wrapper,
//   .profileHeader {
//     width: 639px;
//     margin: 0 24px;
//   }
// }