$twitterBorder: #e6ecf0;
$twitterMainColor: #ff6600;
$twitterComment: #6c757dff;
$popularsBackground: #fafafb;

.userStatusCollection {
    padding: 0 5px;

    .classCollection {
        width: 100%;
        display: flex;
        border-bottom: 1px solid $twitterBorder;

        .class {
            width: 25%;
            padding: 15px 0;
            text-align: center;
            cursor: pointer;
        }

        .active {
            width: 25%;
            text-align: center;
            font-weight: 600;
            border-bottom: 2px solid $twitterMainColor;
            color: $twitterMainColor;
            cursor: pointer;
        }
    }
}