$twitterBorder: #e6ecf0;
$twitterMainColor: #ff6600;
$twitterComment: #6c757d;
$popularsBackground: #fafafb;
$twitterBorderSidebarText: #44444f;

.twitter {
    display: flex;
  
    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      height: 100%;
      position: fixed;
      left: 0;
      border-right: 1px solid $twitterBorder;
  
      ul {
        list-style-type: none;
        .logo {
          display: flex;
            align-items: center;
            text-decoration: none;
            color: #000;
            padding: 18px 35px;
        }
        li {
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $twitterBorderSidebarText;
            padding: 20px 35px;
            font-size: 18px;
            font-weight: 700;
            &:hover {
              background: #e8f5fe;
              color: $twitterMainColor;
            }

              .icons {
                margin-right: 15px;
              }
          }
        }  
        
        .sidebar_Btn {
          margin: 15px 0;
          
          a {
            width: 100%;
            text-decoration: none;
            background: $twitterMainColor;
            color: #fff;
            padding: 8px 24px;
            margin: 0 35px;
            border-radius: 50px;
            outline: none;
            display: block;
            text-align: center;
          }
        }
      }
  
      .logout {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        
        
        .logoutBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25%;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
          
          .logoutText {
            margin-left: 20px;
            color: $twitterBorderSidebarText
          }
        }
      }
      
    }
  }
  
  /*post styles*/
  
  .posts {
    width: 50%;
    margin-left: 25%;
    border-right: 1px solid $twitterBorder;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-button {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 4px;
      }
    &::-webkit-scrollbar-track {
      box-shadow: transparent;
    }
  
    .post_home {
      width: 50%;
      height: 74px;
      position: fixed;
      top: 0;
      padding: 15px;
      background: #fff;
      font-weight: 700;
      font-size: 24px;
      border-bottom: 1px solid $twitterBorder;
      border-right: 1px solid $twitterBorder;
    }
  }
  
  /*create tweets*/
  .create {
    margin-top: 70px;
    padding: 20px 0;
    border-bottom: 10px solid $twitterBorder;
  
  
    .create_container {
      display: flex;
      align-items: center;
      padding: 0 20px;
      
  
      .create_input {
        margin-left: 8px;

        input {
          height: 50px;
        }

        input::placeholder {
          font-size: 18px;
          font-weight: 700; 
        }

        .create_control {
          border: none;
          outline: none;
          color: $twitterBorderSidebarText;
          font-weight: 500;
        }
      }
    }
  
    .tweetbar {
      margin-left: 20px;
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
  
      .tweet_btn {
        width: 50%;
        text-align: right;
        margin-right: 20px;
  
        a {
          text-decoration: none;
          background: $twitterMainColor;
          color: #fff;
          border-radius: 50px;
          outline: none;
          padding: 10px 20px;
        }
      }
    }
  }
  
  /*postCard*/
  
  .post-wrapper {
  
    .postBorder {
      padding: 20px 20px;
      border-bottom: 1px solid $twitterBorder;;
  
      .postCard {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .postCardImg {
            cursor: pointer;
        }
        
        .postCardRightSide {
          display: flex;
          flex-direction: column;
          justify-self: flex-start;
          margin-left: 10px; 
          
          .postCardtitle {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            
            .postCardName {
              margin-right: 5px;
              font-size: 16px;
              font-weight: 700;
              cursor: pointer;
            }
    
            .postUserAccount {
              font-size: 14px;
              font-weight: 400;
              color: $twitterComment;
            }
          }
    
          .postCardfooter {
            display: flex;
            
  
            .postCardIcon {
              display: flex;
              align-items: center;
              margin: 10px 30px 0px 0px;
                
              .icon {
                cursor: pointer;
              }

              p {
                margin: 0 5px;
                color: $twitterComment;
                font-weight: 600;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
              }
            }
          }
        }
      }
    }
  }
  
  /*populars styles*/
  .populars {
    position: fixed;
    top: 16px;
    right: 40px;
    width: 20%;
    background: $popularsBackground;
    border-radius: 5px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-button {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 4px;
      }
    &::-webkit-scrollbar-track {
      box-shadow: transparent;
    }
  
    .popularsHeader {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      border-bottom: 1px solid $twitterBorder;
      padding-bottom: 8px;

      h4 {
        margin: 20px;
      }
    }
  
    .wrapper-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      margin-top: 16px;
  
      .popularCard {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
  
        .popularImg {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          cursor: pointer;
        }
  
        .popularName {
          font-size: 16px;
          font-weight: 700;
        }
  
        .popularAccount {
          font-size: 14px;
          font-weight: 500;
          color: #92929D;
        }
      }
  
      .followBtn {
        padding: 5px 15px;
        border: 1px solid $twitterMainColor;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 400;
        color: $twitterMainColor;
        cursor: pointer;
      }
    }
  }
  