$twitterBorder: #e6ecf0;
$twitterMainColor: #ff6600;
$twitterComment: #6c757d;
$popularsBackground: #fafafb;
$twitterBorderSidebarText: #44444f;
$labelBackground: #f5f8fa;
$labelText: #696974;
$inputBorder:#657786;
$inputPlaceholderText: #b5b5be;

  
/*post styles*/

.posts {
  width: 50%;
  position: fixed;
  margin-left: 25%;
  border-right: 1px solid $twitterBorder;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-button {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
    }
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }

  .post_home {
    width: 50%;
    height: 74px;
    position: fixed;
    top: 0;
    padding: 20px;
    background: #fff;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 1px solid $twitterBorder;
    border-right: 1px solid $twitterBorder;
  }
}

/*create tweets*/
.create {
  margin-top: 74px;
  padding: 20px 0;
  border-bottom: 10px solid $twitterBorder;


  .create_container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    

    .create_input {
      margin-left: 8px;

      input {
        height: 50px;
      }

      input::placeholder {
        font-size: 18px;
        font-weight: 700; 
      }

      .create_control {
        border: none;
        outline: none;
        color: $twitterBorderSidebarText;
        font-weight: 500;
      }
    }
  }

  .tweetbar {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

    .tweet_btn {
      width: 50%;
      text-align: right;
      margin-right: 20px;

      a {
        text-decoration: none;
        background: $twitterMainColor;
        color: #fff;
        border-radius: 50px;
        outline: none;
        padding: 10px 20px;
      }
    }
  }
}

/*postCard*/

.post-wrapper {
  .postCard {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid $twitterBorder;

    .postCardImg {
      cursor: pointer;
      
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    
    .postCardRightSide {
      display: flex;
      flex-direction: column;
      justify-self: flex-start;
      margin-left: 10px; 
      
      .postCardtitle {
        display: flex;
        align-items: center;
        margin: 0;
        
        .postCardName {
          margin-right: 5px;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
        }

        .postUserAccount {
          font-size: 14px;
          font-weight: 400;
          color: $twitterComment;
        }
      }

      .postCardContent {
        display: flex;

        .toReply {
          text-decoration: none;
          color: #171725;
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }

      .postCardfooter {
        display: flex;
        margin: 0;

        .postCardIcon {
          display: flex;
          align-items: center;
          margin: 0px 30px 0px 0px;

          .icon {
            cursor: pointer;
          }

          .text {
            margin: 0 5px;
            color: $twitterComment;
            font-weight: 600;
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
          }
        }
      }
    }
  }
}

/*Modal Reply Styles */
.modalBackground {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 99;

  .modalContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 500px;
    margin-top: 56px;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .modalHeader {
      display: flex;
      align-items: center;
      height: 57px;
      padding: 15px;
      border-bottom: 1px solid $twitterBorder;
    }

    .closeBtn {
      cursor: pointer;
    }

    .postContent {
      position: relative;
      display: flex;
      padding: 24px;
      &::before {
        content: '';
        border-left: 2px solid #b5b5be;
        position: absolute;
        top: 58%;
        left: 48px;
        width: 100%;
        height: 50%;
        z-index: 99;
      }
      
      .modalUserAvatar {
        margin-right: 8px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      .modalRightSide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .postUserTitle {
          display: flex;

          .modalUsername {
            margin-right: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
          }

          .modalAccount {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $twitterComment;
          }
        }

        .postMsg {
          padding: 10px 24px 10px 0;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 26px;
        }

        .replyTo {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: $twitterComment;

          span {
            margin-left: 5px;
            color: $twitterMainColor
          }
        }
      }
    }

    /*Tweet Modal*/
    .myTweet {
      display: flex;
      width: 634px;
      padding: 24px;

      .myTweetContainer {
        display: flex;
        align-items: center;

        .tweetRightSide {
          margin-left: 10px;

          input {
            height: 50px;
          }
          input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $twitterComment;
          }
          .tweetContent {
            border: none;
            outline: none;
          }
        }
      }
    }

    /*Reply Modal*/
    .myReply {
      display: flex;
      padding: 24px;

      .myReplyContainer {
        display: flex;
        align-items: center;

        .replyRightSide {
          margin-left: 10px;
          input {
            height: 50px;
          }
          input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $twitterComment;
          }
          .replyContent {
            border: none;
            outline: none;
          }
        }
      }
    }

    .modalFooter {
      position: absolute;
      bottom: 16px;
      right: 16px;

      .replyBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 40px;
        padding: 8px 16px;
        background: $twitterMainColor;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

/*Edit Modal*/
.editModalBackground {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 99;

  .editModalContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 634;
    height: 610px;
    margin-top: 56px;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .editModalHeader {
      display: flex;
      align-items: center;
      height: 57px;
      padding: 15px;
      border-bottom: 1px solid $twitterBorder;

      .closeBtn {
        margin-right: 37px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        cursor: pointer;
      }

      
    }
    .editUserInfo {
      display: flex;
      flex-direction: column;
      
      .editUserBanner {
        position: relative;

        .cameraInBanner {
          position: absolute;
          top: 45%;
          left: 40%;
          z-index: 99;
        }

        .cameraInAvatar {
          position: absolute;
          top: 45%;
          left: 40%;
          z-index: 99;
        }

        .removeBtn {
          position: absolute;
          top: 45%;
          left: 50%;
          z-index: 99;
        }
        .editUserAvatar {
          position: absolute;
          top: 95%;
          left: 16px;
          transform: translateY(-50%);
        }
      }
      .editTextInfo {
        margin: 80px 16px 32px 16px;
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          label {
            margin-bottom: 32px;
            padding: 0 17.84px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $labelText;
            text-align: start;
            background: $labelBackground;
            border-bottom: 2px solid $inputBorder;

              .nameText {
                width: 100%;
                outline: none;
                border: none;
                background-color: #f5f8fa;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
              }

              .introduceText {
                width: 100%;
                height: 145px;
                outline: none;
                border: none;
                background-color: #f5f8fa;
                font-weight: 400;
                font-size: 16px;
                vertical-align: text-top;
              }
  
              &::placeholder {
                color: $inputPlaceholderText;
              }
          }
        }
      }
    }
  }
}

.test {
  z-index: 100;
}