$twitterBorder: #e6ecf0;
$twitterMainColor: #ff6600;
$twitterComment: #6c757dff;
$popularsBackground: #fafafb;

.replyPost-wrapper {
    width: 100%;
    display: flex;
    padding: 24px;

    .repliesCard {
        display: flex;

        .replyUserImg {
            margin-right: 8px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        .replyCardRightSide {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .cardtitle {
                display: flex;
                align-items: center;
                width: 100%;
                .cardName {
                    margin-right: 8px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                }
                .postUserAccount {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: $twitterComment;
                }
            }
            .cardContent {
                padding: 10px 24px 10px 0;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
    
                .replyTo {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: $twitterComment;
    
                    span {
                        margin-left: 5px;
                        color: $twitterMainColor
                    }
                }

                .description {
                    padding: 8px 30px 16px 0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        
    }
}