@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap');

$error: #fc5a5a;
$gray80: #696974;
$gray60: #b5b5be;

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.authContainer{
  text-align: center;
  width: 356px;
  margin: 69px auto 0 auto;
}

.authTitle{
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 26px;
  margin: 24px 0 40px 0
}

.authInputContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f8fa;
  width: 100%;
  height: 54px;
  border-bottom: 2px solid black;
}

.authInputLabel{
  font-size: 14px;
  color: $gray80;
  text-align: start;
}

.authInput{
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #f5f8fa;
  border-radius: 0px;
  &::placeholder{
    color: $gray60;
  }
}

.authInputMessageContainer{
  margin-bottom: 8px;
  padding-top: 4px;
  height: 20px;
  display: flex;
  justify-content: space-between;

}

.authInputAlertText{
  font-size: 12px;
  line-height: 20px;
  color: $error;
}

.authInputWordCount{
  font-size: 12px;
  line-height: 20px;
  color: $gray80;
}

.authButton{
  border-radius: 30px;
  background-color: #ff6600;
  border: none;
  color: white;
  width: 356px;
  height: 46px;
  font-size: 20px;
  padding: 6px 0;
  margin: 8px 0 16px 0;

  &:hover {
    cursor: pointer;
  }
}

.authLinkTextContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.authLinkText {
  color: #0062ff;
  font-size: 16px;
  font-weight: 400;
  margin: 6px 12px;
}