@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");

$error: #fc5a5a;
$gray80: #696974;
$gray60: #b5b5be;
$gray90: #44444f;
$gray100: #171725;
$Secondary: #6c757d;

* {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root,
.App {
  height: 100%;
}
