$twitterBorder: #e6ecf0;
$twitterMainColor: #ff6600;
$twitterComment: #6c757d;
$popularsBackground: #fafafb;
$twitterBorderSidebarText: #44444f;
$labelBackground: #f5f8fa;
$labelText: #696974;
$inputBorder:#657786;
$inputPlaceholderText: #b5b5be;

$error: #fc5a5a;
$gray80: #696974;
$gray60: #b5b5be;
$gray90: #44444f;
$gray100: #171725;
$Secondary: #6c757d;
$SecondaryBlue: #50B5FF;


.settingContainer {
    width: 50%;
    position: fixed;
    margin-left: 25%;
    border-right: 1px solid $twitterBorder;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-button {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border-radius: 4px;
      }
    &::-webkit-scrollbar-track {
      box-shadow: transparent;
    }

    .settingHeader {
        width: 50%;
        height: 74px;
        position: fixed;
        top: 0;
        padding: 20px;
        background: #fff;
        font-weight: 700;
        font-size: 24px;
        border-bottom: 1px solid $twitterBorder;
        border-right: 1px solid $twitterBorder;
    }

    .settingForm {
        margin-top: 98px;
        padding: 0 23px;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        // label {
        //     margin-bottom: 32px;
        //     padding: 0 17.57px;
        //     font-size: 14px;
        //     font-weight: 400;
        //     line-height: 22px;
        //     color: $labelText;
        //     text-align: start;
        //     background: $labelBackground;
        //     border-bottom: 2px solid $inputBorder;
            
        //     input {
        //         width: 100%;
        //         outline: none;
        //         border: none;
        //         background-color: #f5f8fa;
        //         font-weight: 400;
        //         font-size: 16px;
        //         line-height: 26px;
        //     }
        //     &::placeholder {
        //         color: $inputPlaceholderText;
        //     }
        // }
        
    }

    .saveBtn {
        margin-right: 24px;
        display: flex;
        justify-content: flex-end;
        button {
            width: 88px;
            height: 46px;
            padding: 8px 24px;
            background: $twitterMainColor;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            border-radius: 50px;
            border: none;
        }
    }
}


// .authInputContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   background-color: #f5f8fa;
//   width: 100%;
//   height: 54px;
//   padding: 0 10.55px;
//   border-bottom: 2px solid black;

//   // &:hover,
//   // &:focus,
//   &:focus-within {
//     border-bottom-color: $SecondaryBlue;
//   }
//   // alert {
//   //   border-bottom-color: $error ;
//   // }

// }

// .authInputLabel {
//   font-size: 14px;
//   color: $gray80;
//   text-align: start;
// }

// .authInput {
//   font-size: 16px;
//   outline: none;
//   border: none;
//   background-color: #f5f8fa;
//   border-radius: 0px;
//   &::placeholder {
//     color: $gray60;
//   }
// }

// .authInputMessageContainer {
//   margin-bottom: 8px;
//   margin-top: 4px;
//   height: 20px;
//   display: flex;
//   justify-content: space-between;
// }

// .authInputAlertText {
//   font-size: 12px;
//   line-height: 20px;
//   color: $error;
//   // visibility: hidden;
// }

// .hideWordCount {
//   visibility: hidden;
// }

// .showWordCount {
//   font-size: 12px;
//   line-height: 20px;
//   color: $gray80;
// }
